{
  "presets": [
    "babel-preset-env",
    [
      "env", {
        "production": {},
        "development": {},
        "targets": {
          "browsers": ["last 2 versions"]
        },
        "modules": false
      }
    ],
    "stage-0",
    "react"
  ]
}
